.app-container {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
}

.app-header {
    background-color: #333;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.app-header nav a.active {
    color: white;
    background-color: #555;
}

.app-content {
    flex: 1;
    background-color: #f5f5f5;
    overflow-y: hidden;

}